# 依赖
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# 编译输出
/dist
/lib
/es

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统
.DS_Store
Thumbs.db 